@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Paprika&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Paprika", system-ui;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  background-color: black;
  color: white;
}

